<%- include("partials/header"); -%>


    <h1>Compose</h1>

    <form action="" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="newEntryTitle" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="newEntry">Post</label>
            <textarea name="newEntryPost" class="form-control" cols="30" rows="10"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" name="newEntryButton">Publish</button>
    </form>

<%- include("partials/footer"); -%>